body {
    background-color: rgb(12, 35, 64);
}
#contact {
   padding-top: 30px;
   padding-left: 10px;
   color: rgb(12, 35, 64);
   background-color: white;
   margin: 10px 10px;
   padding-bottom: 10px;
}
#contact a {
    text-decoration: none;
    color: goldenrod;
}